<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../vue.global.js"></script>
    <link rel="stylesheet" href="vue_todolist.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- 主窗口 -->
    <div id="main-window">
      <!-- 表格 -->
      <form @submit.prevent="addNewTodoItem">
        <label>添加待办事项 </label>
        <input placeholder="例如：明天啥也不干" v-model="newTodoText" />
        <button>添加</button>
      </form>
      <!-- 事项 -->
      <ul>
        <todo-item
          v-for="(todo, index) in todos"
          :text="todo.text"
          @remove="todos.splice(index, 1)"
        ></todo-item>
      </ul>
    </div>

    <!-- js部分 -->
    <script src="vue_todolist.js"></script>
  </body>
</html>
