.navigation {
  width: 500px;
  margin: auto;
}
#todo-list {
  width: 800px;
  margin: auto;
  background-color: tomato;
  margin-top: 100px;
  /* position: absolute; */
}
#todo-list table {
  width: 100%;
  text-align: left;
  padding: auto;
}
#listInput {
  display: block;
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  padding: 0;
  border-bottom: none;
  outline: none;
}
#inputDiv {
  width: 400px;
  height: 600px;
  margin: auto;
  display: none;
  text-align: center;
}
#inputDiv input {
  float: right;
}
.sort {
  /* opacity: 0; */
}
