<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../vue.js"></script>
    <link rel="stylesheet" href="slideshow.css" />
    <title>轮播图实现</title>

    <style>
      .trans {
        transition: 0.5s ease;
      }
      .white {
        background-color: white;
      }
      .blue {
        background-color: blue;
      }
    </style>
  </head>

  <body>
    <!-- 主窗口 -->
    <div id="main-window">
      <div class="shell" @mouseenter="mouseIn" @mouseleave="mouseOut">
        <!-- 图片区 -->
        <div class="img-list">
          <img
            v-for="(img, index) in images"
            :src="img.src"
            :key="index"
            class="img"
            :class="{'trans':useTrans}"
            :style="pos"
          />
        </div>

        <!-- 切换按钮 -->
        <div class="btn">
          <div class="btn-left" @click="imgLeft">&lt</div>
          <div class="btn-right" @click="imgRight">&gt</div>
        </div>
      </div>
      <!-- 下方标识 -->
      <ul id="main-pointer">
        <li
          :id="'p'+n"
          class="pointer"
          v-for="(n,index) in littleNum"
          :class="{'white':useWhite[index]}"
        ></li>
      </ul>
      <!-- 切换样式 -->
      <div class="change">
        <input
          id="input"
          type="file"
          src="./image"
          multiple
          value="选择图片"
          @change="getImages($event)"
        />
        <button id="hover">悬浮切换</button>
        <button id="out">下标在外</button>
        <button id="hold">换页常驻</button>
      </div>
    </div>
  </body>
  <script src="slideshow.js"></script>
</html>
